*{
margin: 0;
padding: 0;
border: 0;
}
html{
scroll-behavior: smooth;
}
header{
height: 100px;
}

header a{
font: optional;
font-size: 50px;
margin: 0 100px;
text-decoration: none;
color: black;
}
header a:hover{
  font: optional;
  font-size: 60px;
  color: blueviolet;
}

.contenido, .sobreme, .herramientas,
 .contactame, .experiencia, .proyectos{
background-color: antiquewhite;
height: auto;
width: 866px;
margin: 0 auto;
text-align: center;
margin-top: auto;
}
ul{
list-style: none;
}
#h1{
  margin-bottom: 10px;
}
/* #foto{
  height: 500px;
  width: 500px;
} */
mark{
  padding: 30px;
}
body p{
display: block;
-webkit-margin-before: 1em;
margin-block-start: 1em;
-webkit-margin-after: 1em;
margin-block-end: 1em;
-webkit-margin-start: 0px;
margin-inline-start: 0px;
-webkit-margin-end: 0px;
margin-inline-end: 0px;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 52px;
color: #5e636e;
}

.proyectos ul li{
  background-color: aliceblue;
  text-overflow: ellipsis;
  display: inline;
  margin-left: auto;
}

.footer{

}